body {
  font-size: 20px;
  font-style: oblique;
}

.link:hover .list-item:focus {
  color: coral;
}

.link {
  text-decoration: none;
  color: blue;
}

.list-item:not(:first-child) {
  margin-top: 10px;
}
.list {
  list-style: none;
}
.title {
  margin-left: 30px;
  margin-bottom: 20px;
}
